body {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 20px;
  color: #000000;
  display: block;
}
/* ===HEADER=== */
.header {
  margin: 0;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.logo {
  position: relative;
  left: 30px;
  top: 30px;
  width: 109px;
  height: 39px;
  z-index: 2;
}

.nav {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  justify-content: center;
  align-self: self-end;
  z-index: 1;
}

.nav-links {
  display: flex;
  justify-content: end;
  column-gap: 20px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #000000;
}

.nav-link:hover {
  text-decoration: none;
  color: #ff976b;
}

.header-image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.title {
  display: flex;
  flex-direction: column;
  margin-top: 183px;
  margin-left: 80px;
  letter-spacing: 0;
  max-width: 709px;
  row-gap: 20px;
  z-index: 2;
}

.header-title {
  font-family: "Times New Roman", "Noto Serif", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  max-height: 200px;
  color: #ff976b;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  letter-spacing: 0;
}

.Triple_peaks {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  color: #000000;
}

.header-description {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  margin: 0;
  max-width: 683px;
}

.header-info {
  display: flex;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  flex-direction: row;
  width: 100vh;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: flex-end;
  margin: auto 80px 40px;
  z-index: 1;
}

.header-hours {
  margin: 0;
  letter-spacing: 0;
}

/* ===CONTENT=== */
.content {
  background-color: #ffd6c5;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  text-align: left;
  justify-content: center;
  z-index: 2;
}

.reserv {
  margin-top: 100px;
  margin-bottom: 120px;
}

.title-reservation {
  /*fuente*/
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  /*flexbox*/
  margin-bottom: 80px;
}

.form {
  /*flexbox*/
  display: flex;
  max-width: 385px;
  flex-direction: column;
}

.label-reservation {
  /*fuente*/
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /*flexbox*/
  margin-bottom: 8px;
}

.input-reservation {
  /*fuente*/
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /*flexbox*/
  border-radius: 4px;
  margin-bottom: 32px;
  height: 60px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
}

.input-reservation-button {
  /*fuente*/
  color: #ffffff;
  /*flexbox*/
  border-radius: 4px;
  margin-bottom: 32px;
  height: 60px;
  width: 120px;
  box-sizing: border-box;
  background-color: #e96e3a;
  width: 100%;
}

.input-reservation-button:hover {
  opacity: 0.7;
}

.terminos {
  align-items: center;
  margin-left: auto;
}

.label-reservation-terms {
  display: flex;
  align-self: center;
}

.input-reservation-checkbox {
  /*fuente*/
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /*flexbox*/
  border-radius: 2px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

/* ===FOOTER===*/
.footer {
  display: flex;
  background-color: #d35722;
  z-index: -1;
  position: relative;
  flex-direction: column;
}

.circle {
  background-color: #e96e3a;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  z-index: -2;
  position: absolute;
  left: -44px;
  top: -120px;
  overflow: hidden;
}

.contactos {
  /*fuente*/

  /*flexbox*/
  flex-direction: row;
  max-width: 100vh;
  width: 700px;
  align-self: stretch;
  box-sizing: border-box;
  justify-content: flex-end;
  margin: 60px 80px 108px;
  z-index: 1;
}

.logo-footer {
  width: 105px;
  height: 39px;
}

.social-media {
  /*fuente*/
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  /*flexbox*/
}

.social-media-nav {
  /*fuente*/
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  /*flexbox*/
  margin: 0;
  padding: 0;
}

.social-media-links {
  /*fuente*/
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  /*flexbox*/
  column-gap: 20px;
  list-style: none;
  margin-left: 10px;
}

.social-media-link {
  /*fuente*/
  text-decoration: none;
  color: #fff;
  /*flexbox*/
}

.social-media-link:hover {
  color: #ffd6c5;
}

.social-media-icon {
  height: 16px;
  width: 16px;
  padding-right: 10px;
}

.copyright {
  /*fuente*/
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  /*flexbox*/
}
